@mixin btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 13.5rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 5px 7px #e6e6e6;

  i {
    padding: 1rem 2.5rem;
    color: $icon-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in;

    &.active {
      background-color: $green;
      border-radius: 12px;
      color: white;
      box-shadow: -5px 0px 5px #e6e6e6;
    }
  }
}

@mixin amazingForm {
  padding: 2.5rem;
  margin-bottom: 2.5rem;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  transition: all 0.3s ease-in;

  &.hidden {
    height: 0;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 1.5rem;
    font-family: 'Poppins Bold';
  }

  form {
    margin-top: 2rem;
    display: grid;
    row-gap: 2rem;

    font-size: 1.4rem;

    label,
    input {
      width: 100%;
    }

    label {
      font-size: 1.2rem;
    }

    input {
      height: 4rem;
      background-color: $fade;
      outline: none;
      border: none;
      border-radius: 20px;
      padding: 1rem 2rem;

      &:focus {
        border-bottom: 1px solid $green;
      }
    }

    .form-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        border: none;
        color: white;
        font-size: 1.4rem;
        background-color: $green-dark;
        width: 10rem;
        height: 4rem;
        border-radius: 20px;
        padding: 0.5rem auto;
        cursor: pointer;
        transition: 0.2s;

        &.submit {
          width: 13rem;
          background-color: $green;
        }

        &:hover {
          opacity: 0.8;
          transform: scale(1.05);
        }
      }
    }
  }
}
