$hero-purple: #bac5f4;
$primary-green: #28df99;
$body-grey: #eff3f9;
$content-grey: #f6f8fc;
$title-dark: #1c1c1c;

/*  NEW THEME */
$primary-blue: #3326ae;
$primary-grey: #f7f8ff;
$primary-lightblue: #00c3f8;
$primary-red: #ff392b;
$icon-grey: #bbbed9;
$icon-nav: #857dce;

/* Final Theme*/
$green-dark: #206a5d;
$green: #81b214;
$green-light: #bfdcae;
$fade: #f1f1e8;
